{% extends 'base.html' %}

{% block title %}CHAT{% endblock %}

{% block content %}


    {% for a in message_list %}
        <a href="#">{{a.message_author}}({{a.message_time}}): {{a.message_text}}</a><br>
    {% endfor %}


<form action="" method="POST">

    {% csrf_token %}

    {{form}}

    <!-- <input type="submit" class="send" value="Submit"> -->

    <input type="text" required placeholder="author" name="name"><br>-
    <textarea name="text" required="" placeholder="message" cols="30" rows="10"></textarea><br>

    <button type="submit">Send</button>

</form>

{% endblock %}